.header {
  width: 100%;
  background: #001A57;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.header__title {
  color: white;
  font-size: 40px;
}

.vicChart {
  width: 50%;
}

.chartParent {
  display: flex;
}

/* styling for the settings form */
.btn {
  outline: none;
  border: 2px solid #001A57;
  font-size: 16px;
  font-weight: 200px;
  padding: 8px 20px;
  background: white;
  border-radius: 5px;
  color: #001A57;

  transition: .25s;
}

.btn:hover {
  background: #001A57;
  color: white;
}

select {
  display: block;
  width: 100%;
  text-align: center;
}

.settingsParent {
  display: flex;
  justify-content: space-around;
}

.settings {
  margin-top: 40px;
  width: 30%;
  /* padding: 20px; */
  /* border: 2px solid #001A57; */
  /* margin: 10px;  */
  margin-bottom: 0px;
}

.settingsList {
  width: 60%;
  height: 175px;
  border: 2px solid #001A57;
  margin-top: 40px;
  border-radius: 20px;
  /* margin-left: 5px; */
}

.sinput, select {
  margin-bottom: 10px;
}

input, select {
  border: 1px solid #001A57;
  padding-left: 5px;
}

input {
  width: 100%;
}